.test {
  position: relative;
}
.testText {
  position: absolute;
  bottom: 0;
  left: 11px;
  top: -5px;
}



.contactContainer {
  background-color: #E5E5E5;
  padding-top: 15px;
}
.contactInfoWrap > h2 {
  border-bottom: 3px solid #884A4A;
  width: fit-content;
  margin-top: 0;
}
.contactInfoWrap > div {
  margin-bottom: 15px;
}
.contactOuterWrap {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 85%;
  /* border: 1px solid black; */
  margin: 0 auto;
}
span > a {
  color: black;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.icon {
  margin-right: 15px;
}
.contactInfoWrap > div {
  display: flex;
}
.contactInfoWrap > div > span {
  margin: auto 0;
}
form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
input {
  border: 3px solid #884A4A;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 501px;
}
input:last-of-type {
  width: 35%;
  color: #884A4A;
  letter-spacing: 4px;
}
input:last-of-type:hover {
  cursor: pointer;
  /* background-color: black; */
  /* color: white; */
}
textarea {
  border: 3px solid #884A4A;
  max-width: 501px;
  margin-bottom: 10px;
  height: 80px;
  padding: 10px;
}
@media(min-width: 768px) {
  .contactOuterWrap {
    display: flex;
    flex-direction: row;
    width: 85%;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 5% 6%;
    justify-content: space-between;
  }
  .contactFormWrap {
    width: 45%;
  }
  .contactInfoWrap > h2 {
    border-bottom: 0;
    margin-bottom: 15%;
  }
  .contactInfoWrap {
    border-left: 3px solid #884A4A;
    padding-left: 20px;
  }
  input:last-of-type {
    margin-left: 0;
  }
}
@media(min-width:1024px) {
  .contactOuterWrap {
    padding: 5% 15%;
  }
}
