.footerContainer {
  background-color: #2b2b2b;
  border-top: 5px solid black;
  padding: 5% 0;
  color: white;
  font-family: 'Adamina';
}
.footerContainer > p:last-of-type {
  margin: 0 auto;
  width: 70%;
  font-family: 'Muli';
}
